flask~=2.3.3
flask-smorest
python-dotenv~=1.0.0
sqlalchemy~=2.0.20
flask-sqlalchemy
flask-jwt-extended
flask-migrate
passlib~=1.7.4
gunicorn
psycopg2
requests~=2.31.0
rq~=1.15.1
redis~=5.0.0
Jinja2~=3.1.2
alembic~=1.12.0
marshmallow~=3.20.1